<p>
  <strong>Account:</strong>
  <%= @posting.account_id %>
</p>

<p>
  <strong>Journal:</strong>
  <%= @posting.journal_id %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @posting.amount %>
</p>

<%= link_to 'Back', postings_path %>
